@model IEnumerable<Team11_SSIS_ADProject.SSIS.Models.ItemCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Item Categories</h2>
<p>
    @Html.ActionLink("Add New", "Create", "ItemCategory", null, new { @class = "btn btn-success" })
</p>
<table class="datatable table table-bordered table-hover">
    <thead>
        <tr>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@Html.ActionLink("Edit", "Edit", "ItemCategory", new { id = item.Id }, new { @class = "btn btn-success" })</td>
                <td>@Html.ActionLink("Delete", "Delete", "ItemCategory", new { id = item.Id }, new { @class = "btn btn-danger" })</td>
            </tr>
        }
    </tbody>
</table>
