@model Team11_SSIS_ADProject.SSIS.ViewModels.RequisitionViewModel
@{
    ViewBag.Title = "RequisitionForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h2>Requisition Form</h2>
        <a class="btn btn-success" href="/Requisition"><i class="glyphicon glyphicon-list"></i> See all</a>
    </div>

    <div class="box-body">
        <table class="table table-striped"  id="ir_table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <td id="imagesModalButton">
                        <button data-toggle="modal" data-target="#imagesModal" class="btn btn-primary" id="showImages">Choose Item</button>
                    </td>
                    <td>
                        @Html.EditorFor(i => i.Quantity, new { htmlAttributes = new { @type = "number", @min = "0", @step = "1", @value = "", id = "quantity" } })
                    </td>

                    <td>
                        <button class="btn btn-success" id="btnAdd"><i class="glyphicon glyphicon-plus-sign"></i> Add</button>
                    </td>
                </tr>
            </tfoot>
        </table>
        <!--Image Modal starts-->
        <div class="modal fade" id="imagesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">
                            Choose Item <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h3>

                    </div>
                    <div class="modal-body">
                        <select class="image-picker show-html" id="itemId" required>
                            <option id="default" value="">--Select an item--</option>
                            @{
                                foreach (var item in Model.Items)
                                {
                                    <option value="@item.Id" data-img-src="@Url.Content(item.ImagePath)" data-img-class="first" data-img-alt="Page 1">@item.ItemDescription</option>
                                }
                            }
                        </select>

                        <!--Modal body ends**-->
                    </div>
                   
                </div>
            </div>
        </div>
        
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="remark">Remark</label>
                    <textarea class="form-control" id="remark" placeholder="Optional"></textarea>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-success" id="btnSave"><i class="glyphicon glyphicon-save"></i> Save</button>
        </div>
    </div>

</div>

@section scripts
{
    
    <script>
    
        $(document).ready(() => {
            $("#itemId").imagepicker({
                show_label: true,
                clicked: function () {
                    var selected = $("#itemId option:selected").text()
                    console.log(selected)
                    $("#imagesModalButton").html(selected +"<button class='btn btn-default' id='removeSelected'>Remove Selection</button>")
                    
              }
            })

            $(".thumbnails li img").click(function () {
                
                $("#imagesModal").modal("hide")
                $("#quantity").focus()
                $("#quantity").val("")
            })

            function resetItemIdField() {
                $("#imagesModalButton").html('<button data-toggle="modal" data-target="#imagesModal" class="btn btn-primary" id="showImages">Choose Item</button>')
            }

            $("#removeSelected").click(function () {
                console.log(this)
            })
            
            $("body").on("click", "#btnAdd", function () {
   
                //get data from ids
                var itemId = $("#itemId")
                var item = $("#itemId :selected").text()
                var quantity = $("#quantity")
                console.log(itemId.val())
                console.log(quantity)
                if (itemId.val() == "" || quantity.val() == "") {
                    toastr.error("Please choose item and enter quantity.")
                }
                else {
                    //get back chooseitem button
                    resetItemIdField()
                    //get tbody
                    var tBody = $("#ir_table > tbody")[0]

                    //add row
                    var row = tBody.insertRow(-1)

                    //add item cell
                    var cell = $(row.insertCell(-1))
                    cell.html(item)

                    //add quantity cell
                    cell = $(row.insertCell(-1))
                    cell.html(quantity.val())

                    //add remove button
                    cell = $(row.insertCell(-1));
                    var btnRemove = $("<input />");
                    btnRemove.attr("type", "button");
                    btnRemove.attr("class", "btn btn-danger")
                    btnRemove.attr("onclick", "Remove(this);");
                    btnRemove.val("Remove");
                    cell.append(btnRemove);

                    //add item id
                    cell = $(row.insertCell(-1))
                    cell.html("<input type='hidden' id='itemIdField' value='" + itemId.val() + "'>")

                    //Clear selected selected2 item
                    $("#itemId").val("").trigger("change")
                    //clear quantity textbox
                    quantity.val("")
                }
                
            })

            $("body").on("click", "#btnSave", function () {
                var itemRequisitions = new Array()
             
                if ($("#ir_table TBODY").children().length > 0) {
                    $("#ir_table TBODY TR").each(function () {
                        var row = $(this)  
                        var itemRequisition = {}
                        itemRequisition.ItemId = row.find("input[id^='itemIdField']").val()

                        itemRequisition.Quantity = row.find("TD").eq(1).html()
                        itemRequisitions.push(itemRequisition)

                    })


                    var requisition = {}
                    requisition.itemRequisitions = itemRequisitions
                    requisition.Remark = $("#remark").val()

                    $.ajax({
                        type: "POST",
                        url: "/Requisition/Save",
                        data: JSON.stringify({

                            requisition: requisition
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (res) {
                            console.log(res.id)
                            //clear remark field
                            $("#remark").val("")
                            //clear tbody
                            $("#ir_table TBODY").empty()
                            //Clear selected selected2 item
                            $("#itemId").val("").trigger("change")
                            //hide the modal
                            $("#createModal").modal("hide")
                            //success message
                            toastr.success("Requisition ID-" + res.id + " successfully created.", {
                                progressBar : false
                            })
                            $.ajax({
                                type: "POST",
                                url: "/Notification/notify_when_save",
                                data: JSON.stringify({

                                    Notification: Notification
                                }),
                                dataType: "json",
                                success: function (res) {
                                    alert("Notification send to head successfully");
                                }
                            })
                        }
                    })
                }
                else {                  
                    toastr.error("You have no items to request.")
                }
               
            })
        })
        function Remove(button) {
                
                    var row = $(button).closest("TR");
                    var name = $("TD", row).eq(0).html();
                    if (confirm("Do you want to delete: " + name)) {
                        //Get the reference of the Table.
                        var table = $("#ir_table")[0];
 
                        //Delete the Table row using it's Index.
                        table.deleteRow(row[0].rowIndex);
                    }
        }
    </script>
}