@model Team11_SSIS_ADProject.SSIS.ViewModels.RequisitionViewModel
@{
    ViewBag.Title = "RequisitionForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Requisition Form <a class="btn btn-success" href="/Requisition"><i class="glyphicon glyphicon-list"></i> See all</a></h2>

<table class="table table-striped" style="width: 2px" id="ir_table">
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <td>
                <select class="select2" id="itemId" required>
                    <option id="default" value="">--Select an item--</option>
                    @{
                        foreach (var item in Model.Items)
                        {
                            <option value="@item.Id" style="background-image:url(@Url.Content(item.ImagePath));">@item.ItemDescription</option>
                        }
                    }

                </select>
            </td>
            <td>
                @Html.EditorFor(i => i.Quantity, new { htmlAttributes = new { @type = "number", @min = "0", @step = "1", @value = "0", id = "quantity" } })
            </td>
            
            <td>
                <button class="btn btn-success" id="btnAdd"><i class="glyphicon glyphicon-plus-sign"></i>Add</button>
            </td>
        </tr>
    </tfoot>
</table>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="remark">Remark</label>
            <textarea class="form-control" id="remark" placeholder="Optional"></textarea>
        </div>
    </div>
</div>
<button class="btn btn-success" id="btnSave"><i class="glyphicon glyphicon-save"></i> Save</button>

@section scripts
{
    <script>
        $(document).ready(() => {
            $("body").on("click", "#btnAdd", function () {
   
                //get data from ids
                var itemId = $("#itemId")
                var item = $("#itemId :selected").text()
                var quantity = $("#quantity")
                console.log(itemId.val())
                console.log(quantity)
                if (itemId.val() == "" || quantity.val() == "") {
                    toastr.error("Please choose item and enter quantity.")
                }
                else {
                    //get tbody
                    var tBody = $("#ir_table > tbody")[0]

                    //add row
                    var row = tBody.insertRow(-1)

                    //add item cell
                    var cell = $(row.insertCell(-1))
                    cell.html(item)

                    //add quantity cell
                    cell = $(row.insertCell(-1))
                    cell.html(quantity.val())

                    //add remove button
                    cell = $(row.insertCell(-1));
                    var btnRemove = $("<input />");
                    btnRemove.attr("type", "button");
                    btnRemove.attr("class", "btn btn-danger")
                    btnRemove.attr("onclick", "Remove(this);");
                    btnRemove.val("Remove");
                    cell.append(btnRemove);

                    //add item id
                    cell = $(row.insertCell(-1))
                    cell.html("<input type='hidden' id='itemIdField' value='" + itemId.val() + "'>")

                    //Clear selected selected2 item
                    $("#itemId").val("").trigger("change")
                    //clear quantity textbox
                    quantity.val("")
                }
                
            })

            $("body").on("click", "#btnSave", function () {
                var itemRequisitions = new Array()
             
                if ($("#ir_table TBODY").children().length > 0) {
                    $("#ir_table TBODY TR").each(function () {
                        var row = $(this)
                        var itemRequisition = {}
                        itemRequisition.ItemId = $("#itemIdField").val()

                        itemRequisition.Quantity = row.find("TD").eq(1).html()
                        itemRequisitions.push(itemRequisition)

                    })


                    var requisition = {}
                    requisition.itemRequisitions = itemRequisitions
                    requisition.Remark = $("#remark").val()

                    $.ajax({
                        type: "POST",
                        url: "/Requisition/Save",
                        data: JSON.stringify({

                            requisition: requisition
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (res) {
                            console.log(res.id)
                            //clear remark field
                            $("#remark").val("")
                            //clear tbody
                            $("#ir_table TBODY").empty()
                            //Clear selected selected2 item
                            $("#itemId").val("").trigger("change")
                            //success message
                            toastr.success("Requisition ID-" + res.id + " successfully created.", {
                                progressBar : false
                            })
                        }
                    })
                }
                else {
                    toastr.error("You have no items to request.")
                }
               
            })
        })
        function Remove(button) {
                
                    var row = $(button).closest("TR");
                    var name = $("TD", row).eq(0).html();
                    if (confirm("Do you want to delete: " + name)) {
                        //Get the reference of the Table.
                        var table = $("#ir_table")[0];
 
                        //Delete the Table row using it's Index.
                        table.deleteRow(row[0].rowIndex);
                    }
        }
    </script>
}