@model Team11_SSIS_ADProject.SSIS.ViewModels.NotificationViewModel
@{
    ViewBag.Title = "Notify";
}
@using (Html.BeginForm("Notify", "Notification"))
{



    <div class="box-body">
        <div class="form-group">
            @Html.TextBoxFor(m => m.Notification.To, new { placeholder = "To:", @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.Notification.Subject, new { placeholder = "Subject:", @class = "form-control" })
        </div>
        <div class="form-group">

            @Html.TextAreaFor(m => m.Notification.Body, new { placeholder = "Enter your message here...", @class = "form-control", style = "height: 300px; " })

        </div>
        <div class="form-group">
            <div class="btn btn-default btn-file">
                <i class="fa fa-paperclip"></i> Attachment
                <input type="file" name="attachment">
            </div>
            <p class="help-block">Max. 32MB</p>
        </div>
    </div>
    <div class="box-footer">
        <div class="pull-right">
            <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send</button>
        </div>
        <button type="reset" class="btn btn-default"><i class="fa fa-times"></i> Discard</button>
    </div>
}

